

body {
  background: no-repeat fixed;
  background-image: url("https://i.pinimg.com/originals/90/52/54/905254823fd4f26617abb4b79d669fe5.jpg");
  background-size: 100% 100%;
  
  
}

.fa{
  color: black;
}
.text{
  font-family: Courgette;
  font-size: 30px;
}
.author{
  font-family: Courgette;
  font-size: 25px;
}


.container {
  font-size: 2em;
  color: white;
  font-family: Courgette;
}
.btn-lg {
  background-color: black;
  height: 5em;
  width: 10em;
  border-radius: 2em;
  margin-bottom: 2em;
  color: white;
  outline: none;
}
.quote-box {
  height: auto;
  width: 600px;
  background-color: white;
  margin: 0 auto;
  position: relative;
  border-radius: 5px
}
.button {
  background-color: #1187C2;
  display: table-footer-group;
  width: ;
}
